body {
    background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fae01.alicdn.com%2Fkf%2FHTB1NaCJaizxK1Rjy1zkq6yHrVXaS%2FICPANS-Mens-Casual-Pants-Cotton-Straight-Regular-Fit-Pantalon-Homme-Classique-Khaki-Black-Male-Pants-Trouser.jpg&f=1&nofb=1);
}

iframe {

    align-self: center;
    align-content: center;
}

